ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: space-around;
    display: flex;
}
li {
    font-size: 30px;
    display: inline;
    float: left;
}
li a {
    text-align: center;
    display: block;
    color: white;
}
li a:hover {
    background-color: blue;
}
img.main {
    display: block;
    margin: auto;
}
img.topleft {
    display: block;
    margin: 0px;
    width: 50px;
    margin-right: 20px;
}